// layout布局样式
.layout-container {
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  .layout-header {
    position: fixed;
    .layout-logo {
      height: $amia-header-height;
      width: $amia-asideBar-width;
      box-sizing: border-box;
      border-right: solid 1px var(--amia-header-border-color);
    }
  }
  .layout-sideBar {
    box-sizing: border-box;
    background-color: var(--amia-sideBar-bg-color);
    padding: 3px 10px 3px 10px;
    .el-menu {
      border: 0px;
    }
    .el-sub-menu ul{
      background-color: var(--amia-asideBar-submenu-color);
      border-radius: $amia-asideBar-menu-radius;
    }
    .el-sub-menu__title:hover,
    .el-menu-item:hover {
      background-color: var(--amia-asideBar-submenu-hover-color);
      border-radius: $amia-asideBar-menu-radius;
    }
    .el-sub-menu__title,
    .el-menu-item {
      height: $amia-asideBar-menu-height;
      line-height: $amia-asideBar-menu-height;
      span {
        z-index: 1;
      }
      .iconfont {
        margin-right: 5px;
      }
      .menu-title {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .el-menu-item.is-active {
      color: #fff;
    }
    .el-menu-item.is-active::before {
      content: '';
      position: absolute;
      left: 0px;
      height: 100%;
      width: 100%;
      background-color: var(--amia-theme-color);
      border-radius: $amia-asideBar-menu-radius;
    }
  }
  .layout-main {
    display: flex;
    height: calc(100% - $amia-header-height);
    margin-top: $amia-header-height;
    background-color: var(--amia-bg-color);
    .layout-main-content {
      height: 100%;
      flex-grow: 1;
      .layout-content {
        height: calc(100% - $amia-tags-height);
      }
    }
  }
}

#amia-logo g{
  fill: aquamarine;
}
