// 变量，在vite已引入，不用在main中再引入
// 颜色使用 root 方便后期主题颜色控制
:root {
  --amia-theme-color: #0960db;
  --amia-bg-color: #f6f6f6;
  --amia-header-bg-color: #fff;
  --amia-header-border-color: #eee;
  --amia-tags-bg-color: #fff;
  --amia-tags-border-color: rgba(0, 0, 0, 0.12);
  --amia-tag-border-color: #eee;
  --amia-tag-text-color: #333;
  --amia-tag-active-color: #0960db;
  --amia-tag-close-bg-color: #eee;
  --amia-tag-contextmenu-boxshadow: 0px 12px 32px 4px rgba(0, 0, 0, .04), 0px 8px 20px rgba(0, 0, 0, .08);
  --amia-tag-contextmenu-hover-bg-color: #f0f2f5;
  --amia-tag-contextmenu-border-color: #dcdfe6;
  --amia-tag-btn-border-color: #eee;
  --amia-tag-btn-color: #888;
  --amia-sideBar-bg-color: #fff;
  --amia-asideBar-submenu-color: #e8e8e8;
  --amia-asideBar-submenu-hover-color: #c0c0c0;
  --amia-footer-bg-color: #fff;
}

// $amia-bg-color: #f6f6f6;
$amia-header-height: 50px;
$amia-tags-height: 34px;
$amia-tag-height: 30px;
$amia-tag-border-radius: 3px;
$amia-asideBar-width: 230px;
$amia-asideBar-menu-height: 50px;
$amia-asideBar-menu-radius: 10px;
